body {
    background: sky blue;
    color: rgb(65, 65, 65);
    font-family: 'Century Gothic';
  }

  .table-striped > tbody > tr:nth-child(2n + 1) > td,
  .table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: rgb(0, 255, 0);
  }
  .row .alert {
    margin-top: 25px;
  }
  th, td {
    border-top: none !important;
    
  }

  th {
    text-align: center;
  }

  .noCenter {
      text-align: left;
  }
  
  h3 {
    background-color: rgb(0, 255, 0);
    padding: 12px;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: .1em;
  }
  
  .close, .close:hover {
    color: white;
  }
  
  .btn {
    font-weight: bolder;
    letter-spacing: .1em;
  }
  